@import url("https://fonts.googleapis.com/css?family=Nunito:400,600&display=swap");

.types {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  &__card {
    width: 35%;
    padding: 20px 0;
    margin: 8px;
    background-color: darkmagenta;
    border-radius: 15px;
    font-family: "Nunito", "Sans Serif";
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: white;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;

  .back {
    margin: 20px 40px;
    background-color: white;
    border: 1px solid lightslategrey;
    color: initial;
  }
}
