<ion-header>
  <ion-toolbar>
    <ion-title>Dis moi qui tu es et je te dirai ta faiblesse !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Je suis un pokemon de type : {{selectedType.name}}</h1>
    <div class="types">
      <div *ngFor="let weakness of weaknessTypes" class="types__card">
        <!-- [style.background-color]="type.color" -->
        {{weakness}}
      </div>
    </div>
    <div class="types__card back" (click)="back()">
      Retour
    </div>
  </div>
</ion-content>
