<ion-header>
  <ion-toolbar>
    <ion-title>
      Et paf la baffe !
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="types">
    <div
      *ngFor="let type of types"
      class="types__card"
      [style.background-color]="type.color"
      [routerLink]="['/type-detail', type.name]"
    >
      {{type.name}}
    </div>
  </div>
</ion-content>
